In [6]:
# 检查你的Python版本
from sys import version_info
if version_info.major != 2 and version_info.minor != 7:
    raise Exception('请使用Python 2.7来完成此项目')

import numpy as np
import pandas as pd
# 数据可视化代码
from titanic_visualizations import survival_stats
from IPython.display import display
%matplotlib inline

In [8]:
# 加载数据集
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

# 显示数据列表中的前几项乘客数据
display(full_data.head())
#print(full_data)


# 从数据集中移除 'Survived' 这个特征，并将它存储在一个新的变量中。
outcomes = full_data['Survived']
data = full_data.drop('Survived', axis = 1)

# 显示已移除 'Survived' 特征的数据集
display(data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [149]:
def accuracy_score(truth, pred):
    """ 返回 pred 相对于 truth 的准确率 """
    # 确保预测的数量与结果的数量一致
    if len(truth) == len(pred): 
        # 计算预测准确率（百分比）
        return "Predictions have an accuracy of {:.2f}%.".format((truth == pred).mean()*100)
    else:
        return "Number of predictions does not match number of outcomes!"
# 测试 'accuracy_score' 函数
predictions = pd.Series(np.ones(5, dtype = int)) #五个预测全部为1，既存活
print("思考题：在前五个乘客中，如果我们预测他们全部都存活，你觉得我们预测的准确率是多少？")
print "回答: {:.2f}%.".format((outcomes[:5] == predictions).mean()*100)

思考题：在前五个乘客中，如果我们预测他们全部都存活，你觉得我们预测的准确率是多少？
回答: 60.00%.

In [ ]:
### 计算准确率
为了验证我们预测的结果，我们需要一个标准来给我们的预测打分。因为我们最感兴趣的是我们预测的**准确率**，既正确预测乘客存活的比例。运行下面的代码来创建我们的 `accuracy_score` 函数以对前五名乘客的预测来做测试。

**思考题**：在前五个乘客中，如果我们预测他们全部都存活，你觉得我们预测的准确率是多少？
**答案**：60%

In [150]:
def predictions_0(data):
    """ 不考虑任何特征，预测所有人都无法生还 """
    predictions = []
    for _, passenger in data.iterrows():
        # 预测 'passenger' 的生还率
        predictions.append(0)
    # 返回预测结果
    return pd.Series(predictions)
# 进行预测
predictions = predictions_0(data)
print("问题1：对比真实的泰坦尼克号的数据，如果我们做一个所有乘客都没有存活的预测，这个预测的准确率能达到多少？")
print "回答: {:.2f}%.".format((outcomes == predictions).mean()*100)

问题1：对比真实的泰坦尼克号的数据，如果我们做一个所有乘客都没有存活的预测，这个预测的准确率能达到多少？
回答: 61.62%.

In [ ]:
**问题1**：对比真实的泰坦尼克号的数据，如果我们做一个所有乘客都没有存活的预测，这个预测的准确率能达到多少？

**回答**： 61.62%

**提示**：运行下面的代码来查看预测的准确率。

In [151]:
def predictions_1(data):
    """ 只考虑一个特征，如果是女性则生还 """
    predictions = []
    for _, passenger in data.iterrows():
        if passenger['Sex'] == 'female' :
            predictions.append(1)
        else :
            predictions.append(0)
        # TODO 1
        # 移除下方的 'pass' 声明
        # 输入你自己的预测条件
        #pass
    # 返回预测结果
    return pd.Series(predictions)
# 进行预测
predictions = predictions_1(data)
print("问题2：当我们预测船上女性乘客全部存活，而剩下的人全部遇难，那么我们预测的准确率会达到多少？")
print "回答: {:.2f}%.".format((outcomes == predictions).mean()*100)

问题2：当我们预测船上女性乘客全部存活，而剩下的人全部遇难，那么我们预测的准确率会达到多少？
回答: 78.68%.

In [ ]:
问题2：当我们预测船上女性乘客全部存活，而剩下的人全部遇难，那么我们预测的准确率会达到多少？
回答: 78.68%.

In [152]:
#仔细观察泰坦尼克号存活的数据统计，在船沉没的时候，大部分小于10岁的男孩都活着，而大多数10岁以上的男性都随着船的沉没而**遇难**。
#让我们继续在先前预测的基础上构建：如果乘客是女性，那么我们就预测她们全部存活；如果乘客是男性并且小于10岁，
#我们也会预测他们全部存活；所有其它我们就预测他们都没有幸存。  
#将下面缺失的代码补充完整，让我们的函数可以实现预测。  
#**提示**: 您可以用之前 `predictions_1` 的代码作为开始来修改代码，实现新的预测函数。
def predictions_2(data):
    """ 考虑两个特征: 
            - 如果是女性则生还
            - 如果是男性并且小于10岁则生还 """
    predictions = []
    for _, passenger in data.iterrows():
        if passenger['Sex'] == 'male' and passenger['Age'] < 4 :
            predictions.append(1)
        elif passenger['Sex'] == 'female':
            predictions.append(1)
        else :
            predictions.append(0)
    # 返回预测结果
    return pd.Series(predictions)
# 进行预测
predictions = predictions_2(data)
print("问题3：当预测所有女性以及小于10岁的男性都存活的时候，预测的准确率会达到多少？")
print "回答: {:.2f}%.".format((outcomes == predictions).mean()*100)

问题3：当预测所有女性以及小于10岁的男性都存活的时候，预测的准确率会达到多少？
回答: 79.57%.

In [ ]:
问题3：当预测所有女性以及小于10岁的男性都存活的时候，预测的准确率会达到多少？
回答: 79.57%.

In [148]:
def predictions_3(data):
    predictions = []
    for _, passenger in data.iterrows():
        if  passenger['Age']<15:
            if passenger['Pclass']== 1 or passenger['Pclass']== 2:
                predictions.append(1)
            else:
                if passenger['SibSp']<=3:
                    predictions.append(1)
                else:
                    predictions.append(0)
        elif passenger['Sex']=='female':
            if passenger['Pclass']== 1 or passenger['Pclass']== 2:
                predictions.append(1)
            else:
                if passenger['Age']<37:
                    predictions.append(1)
                else:
                    predictions.append(0)
        else:
            if passenger['Pclass']== 1:
                if passenger['Age']<37:
                    predictions.append(1)
                else:
                    predictions.append(0)
            else:
                predictions.append(0)
    # 返回预测结果
    return pd.Series(predictions)

# 进行预测
predictions = predictions_3(data)
print("问题4：请描述你实现80%准确度的预测模型所经历的步骤。您观察过哪些特征？某些特性是否比其他特征更有帮助？你用了什么条件来预测生还结果？你最终的预测的准确率是多少？")
print "回答: {:.2f}%.".format((outcomes == predictions).mean()*100)

问题4：请描述你实现80%准确度的预测模型所经历的步骤。您观察过哪些特征？某些特性是否比其他特征更有帮助？你用了什么条件来预测生还结果？你最终的预测的准确率是多少？
回答: 81.26%.

In [ ]:
问题4：第一先去观察所有特征的区分度，年龄、性别和社会阶层的区分性较好，而按年龄=15岁可得到单次较好的区分，所有我们首先选择年龄作为
第一个条件判断，在小于15岁的乘客中，对观察多个特征，社会阶层的区分性最好，Pclass=1，2，3中，只有3作为按SibSp细分。对大于15岁的女性乘客，
同理，社会阶层和年龄的区分度最好。所以纬度安装年龄，其次是性别。
回答： 81.26%
提示：你需要在下面添加一个代码区域，实现代码并运行来计算准确率。